h1, h2, h3, h4, h5, h6, * {
	margin: 0px;
	padding: 0px
}

h3 {
	margin: 10px
}
.li_height li {
	margin: 4%
}

.li {
	margin: 7px
}

a{
	color:#000;
	text-decoration: none;
}
a:hover {
	color: green;
}
.font{
	font-size: -3px;
}
.li_xs li{
	margin: 5px
}
.par-div-xs{
	width:60%;
	height: 947px;
		 margin: 11px auto 0px auto;
		  background-color: #F0F3FA;
		   color: #656565
}
.par-div-md{
	width:70%;
	height:560px;
	 margin: 11px auto 0px auto; 
	 background-color: #F0F3FA; 
	 color: #656565;
}
.img_md{
	float: left; width: 46%; text-align: center;padding-top: 12%
}

.page_rig{
	width: 46%; margin: 6% 3% 0px 0px; float: right;
}
.page_rigs{
	width: 46%; margin: 6% 2% 0px 0px; float: right;
}
.page_tit{
	margin-top: -14px
}
.page_md{
	background-color: #fff; width: 47%; height: 28.5%; margin: 2% 2% 2% 2%; float: left
}
.page_le_md{
	background-color: #fff; width: 47%; height: 28.5%; margin: 2% 2% 2% 0%; float: left
}

.page_bm_md{
	background-color: #fff; width: 47%; height: 28.5%; margin: 0% 2% 2% 0%; float: left
}
.page_zero_md{
	background-color: #fff; width: 47%; height: 28.5%; margin: 0% 2% 2% 2%; float: left
}
.page_tit_xs{
	margin-top: -14px;height: 28.5%;
}
.foo_sty{
	width:100%;height:100%;background-color:#1F365E;color:#fff;font-size: 5px;
}
.foo_nav{
	height: 50px;background-color: #fff;border:0;margin-bottom: -10px
}
.foo_div{
	width:60%;text-align: center;margin: 0px auto 0px auto
}

.page_one_xs{
	background-color: #fff; width: 96%; height: 140px; margin: 0% 2% 2% 2%; float: left
}

.container_fluid_div_css{
	margin:5px 5px;
}
.row{
	margin:0;
	padding:0;
}
.float_left{
    float:left;
}
.float_right{
	float:right;
}
.first_container_div{
    padding: 5px 0px 0px 5px;
}
.first_plate_css{
	height:106px;
}
.second_container_div{
	padding: 5px 0px 0px 5px;
	height:186px;
}
.second_plate_css{
	height:100%;
}
.container_title_css{
	height:44px;
	line-height:42px;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:bold;
}
.plate_img_css{
	margin-left:36px;
	margin-right:22px;
	margin-top:13px;
}
.plate_font_css{
	margin-top:36px;
	font-size:12px;
	color:#6c6c6c;
	font-family:Microsoft YaHei;
	width:calc(100% - 138px);
}
.plate_nub_css{
	/* width:calc(100% - 138px); */
	margin-top:8px;
	font-size:12px;
}
.plate_nub_css:hover{
	text-decoration: none;
}
.title_img_css{
	margin-left:8px;
	margin-right:6px;
}
.second_plate_count_css{
	font-size:12px;
	font-family:Microsoft YaHei;
	color:#818181;
	height:34px;
	line-height:34px;
	padding-left:30px;
	padding-right:30px;
	width:100%;
	display:block;
}
.second_plate_count_css:hover{
	text-decoration:none;
}
.inform_nub_css{
	position:relative;
	top:3px;
	left:-15px;
	background-color:#ce5151;
	line-height:15px;
	width:15px;
	border-radius:50%;
	text-align:center;
	color:#fff;
}
#wuzi_img{
	width:80px;
	height:80px;
}
#daiban_img{
	width:18px;
	height:20px;
	float:left;
	margin-top:11px;
}

#yunshu_img{
	width:18px;
	height:20px;
	float:left;
	margin-top:11px;
}
#laba_img{
	width:28px;
	height:23px;
}






